# Лабороторна робота 2
# Використання Pandas для аналізу даних
## Мета: Вивчення основних функцій Pandas для аналізу даних
## Варіант:

In [3]:
(2 + 4) % 5 + 1

2

3. Отримайте імена стовпців набору даних

In [3]:
import pandas as pd

file_path = 'NationalNames.csv'

file = pd.read_csv(file_path)

columns = file.columns
columns

Index(['Id', 'Name', 'Year', 'Gender', 'Count'], dtype='object')

4. Отримайте загальну інформацію про дані у наборі даних

In [11]:
file.describe()

                 Id          Year         Count
count  1.825433e+06  1.825433e+06  1.825433e+06
mean   9.127170e+05  1.972620e+03  1.846879e+02
std    5.269573e+05  3.352891e+01  1.566711e+03
min    1.000000e+00  1.880000e+03  5.000000e+00
25%    4.563590e+05  1.949000e+03  7.000000e+00
50%    9.127170e+05  1.982000e+03  1.200000e+01
75%    1.369075e+06  2.001000e+03  3.200000e+01
max    1.825433e+06  2.014000e+03  9.968000e+04

5. Знайдіть кількість унікальних імен у наборі даних

In [11]:
file['Name'].nunique()

93889

8. Знайдіть найпопулярніше ім’я за результатами одного року (ім’я, для якого 
Count максимальне)

In [16]:
year = 2013
name = file[file['Year'] == year].sort_values(by='Count', ascending=False).iloc[0]['Name']

f"The name is {name} in {year}"

'The name is Sophia in 2013'

9. Підрахуйте кількість записів, для яких Count - мінімальне у наборі.

In [17]:
min_count = file['Count'].min()
file[file['Count'] == min_count].shape[0]

254615

11. Знайдіть рік із найбільшою кількістю унікальних імен

In [18]:
unique_names_per_year = file.groupby('Year')['Name'].nunique()
year_with_max_unique_names = unique_names_per_year.idxmax()
unique_names_per_year.max()

np.int64(32488)

12. Знайдіть найпопулярніше ім’я в році з найбільшою кількістю унікальних 
імен (тобто у 2008 році)

In [22]:
file_2008 = file[file['Year'] == 2008]

file_2008.loc[file_2008['Count'].idxmax()]['Name']

'Jacob'

13. Знайдіть рік, коли ім’я “Jacob” було найпопулярнішим серед жіночих імен

In [18]:
jacob_female = file[(file['Name'] == 'Jacob') & (file['Gender'] == 'F')]

most_popular_year = jacob_female.loc[jacob_female['Count'].idxmax()]

print(pd.DataFrame([most_popular_year]).to_string())

              Id   Name  Year Gender  Count
1455556  1455557  Jacob  2004      F    171

14. Знайти рік із найбільшою кількістю гендерно нейтральних імен (однакові 
чоловічі та жіночі імена)

In [22]:
male_names = file[file['Gender'] == 'M']
female_names = file[file['Gender'] == 'F']
gender_neutral_names = set(male_names['Name']).intersection(set(female_names['Name']))
gender_neutral_data = file[file['Name'].isin(gender_neutral_names)]
gender_neutral_counts = gender_neutral_data.groupby('Year')['Count'].sum().reset_index()
print(gender_neutral_counts.loc[gender_neutral_counts['Count'].idxmax()])

# Group by 'Name' and 'Year', then count unique 'Gender' values
gender_count = file.groupby(['Name', 'Year'])['Gender'].nunique().reset_index()

# Filter to find gender-neutral names (appearing for both male and female)
gender_neutral = gender_count[gender_count['Gender'] > 1]

# Count the number of gender-neutral names per year
gender_neutral_per_year = gender_neutral.groupby('Year').size().reset_index(name='Gender_neutral_names')

# Find the year with the highest count of gender-neutral names
most_gender_neutral_year = gender_neutral_per_year.loc[gender_neutral_per_year['Gender_neutral_names'].idxmax()]

# Display the result
print(most_gender_neutral_year.to_frame().T.to_string(index=False))

Year        1957
Count    4043877
Name: 77, dtype: int64

KeyError: 'Gender_neutral_names'

16. Знайдіть рік, коли народилося найбільше дітей

In [40]:
total_births_per_year = file.groupby('Year')['Count'].sum().reset_index()
print(total_births_per_year.loc[total_births_per_year['Count'].idxmax()]['Year'])

1957

17. Знайдіть кількість дівчаток та хлопчиків, які народились кожного року